.product-list {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (max-width: 1140px) {
    justify-content: center;
  }
}
